<!DOCTYPE html>
<html>
<head>
	<title>MyBlog</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/css/semantic.min.css">
	<link rel="stylesheet" type="text/css" href="/css/simplemde.min.css">
	<link rel="stylesheet" type="text/css" href="/css/github.css">
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="/js/semantic.min.js"></script>
	<script src="/js/simplemde.min.js"></script>
	<script src="/js/highlight.js"></script>
	<script>hljs.initHighlightingOnLoad();</script> 
</head>
<body>
	<!-- Header Main Bar -->
	<div class="ui inverted menu">
		<div class="ui container">
			<a href="/" class="header item"><i class="home icon"></i>Alex's Blog</a>
			{{#if user}}
				{{#compare user.type "==" "admin"}}
					<a class="item" href="/new"><i class="write square icon"></i>New Post</a>
				{{/compare}}
				<div class="right menu">
					<div class="item">Hello, {{user.username}}</div>
					<a class="item" href="/logout"><i class="sign out icon"></i>Logout</a>
				</div>
			{{else}}
				<div class="right menu">
					<a class="item" href="/login"><i class="sign in icon"></i>Login</a>
					<a class="item" href="/register"><i class="add user icon"></i>Register</a>
				</div>
			{{/if}}
		</div>
	</div>

	<!-- Main Body -->
	{{{body}}}
</body>
</html>