<div class="ui relaxed divided items main text container">
	{{#each posts}}
		<div class="ui item">
			<div class="content">
				<a class="ui huge header" href="/{{_id}}">{{title}}</a>
				<div class="meta">
					<a>{{formatDate created}}</a>
					<br><br>
					<a>Posted by {{author}}</a>
				</div>
			</div>
		</div>
	{{/each}}
</div>