<div class="ui container">
	<h1 class="ui header">New Blog Post</h1>
	<form role="form" action="/new" method="post">
		<div class="ui form">
			<div class="field">
				<label>Post Title</label>
				<input type="text" name="postTitle" placeholder="New Title">
			</div>
		</div>
		<div class="ui form">
			<div class="field">
				<label>Post Body</label>
				<textarea id="mde" name="postBody"></textarea>
				<script>
					var simplemde = new SimpleMDE({element: document.getElementById("mde")});
				</script>
			</div>
		</div>
		<button class="ui large blue button">Submit</button>
	</form>
</div>